.section-title-mywork {
    margin-bottom: 40px;
}

.card-container {
    margin-top: 20px;
    text-align: center;
    margin-left: 200px;
}

.card {
    margin-top: 0 auto;
    border: 1.5px solid black;
    justify-content: end;
    
}

@media (min-width: 615px) {
    .card-container {
        justify-content: center;
    }
}