.section-title-intro {
    font-weight: var(--fw-reg);
    margin-top: 50px;
}

.section-title-intro strong {
    display: block;
}

.section-subtitle-intro,
.section-subtitle-about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.intro {
    position: relative;
    margin-top: -40px;
}

.intro-image {
    box-shadow: var(--bs);
    height: 300px;
}

.section-subtitle-intro {
    display: inline-block;
}

 @media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro-image {
        grid-area: img;
        min-width: 300px;
        position: relative;
        z-index: 2;
    }
    .section-subtitle-intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
} 